.singleProject{
    width: 85%;
    margin: 0.5rem;
    font-family: Raleway;
  }
  .boldHeading{
      font-weight: 500;
      font-size: 1.2em;
  }

  .whiteFont{
    color:#EEEEEE !important;
    font-size: 2rem !important;
  }

  .tealFont{
      color: #1DE9B6!important;
      font-size: 1.2em !important;
  }

  .greyFont{
    color: #9E9E9E !important;
    font-size: 1.2rem !important;
  }
  
  @media only screen  /*Tablet */
  and (min-width:600px )
  and (max-width:1000px) {
    .singleProject{
      width: 45%;
    }
  }
  
  @media only screen /*DESKTOP */
  and (min-width:1000px) {
      .singleProject {
          width: 31% ;
      }
  }

  .projectImage{
      width: 30%;
      border-radius: 10px;
  }

  .singlePortfolioImage{
      height: 100%;
      background-position: top;
      background-size: cover;
      border-radius: 20px;

  }

  .singlePortfolioLink{
    height: 100%;
    width: 30%;
    background-size: cover;
    background-position: top;
  }

  .portfolioImages{
      height: 100px;
      display: flex;
      justify-content: space-around;

  }